@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f4ed;
  margin: 0;
}

.experience,
.about {
  background-color: #101010;
  color: #aaa;
}

.moi-img {
  clip-path: inset(0% 0% 0% 0%);
}

.text {
  overflow: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

#custom-cursor {
  width: 10px;
  height: 10px;
  background-color: #8b5cf6;
  border-radius: 50%;
  opacity: 0.8;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s ease-out;
}
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.gallery-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
  z-index: 0;
}

.gallery-grid-item {
  aspect-ratio: 14/9;
  grid-area: span 1 / span 1 / span 1 / span 1;
  border-radius: 0.625em;
}
.gallery-grid-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.6) 0%, #151618 100%);
  z-index: -1;
}
.hg-img-w {
  z-index: 10;
  background-image: linear-gradient(
    to bottom,
    var(--light-grey),
    var(--light-grey)
  );
  background-position: 0 0;
  border-radius: 0.625em;
  width: 100%;
  height: 100%;
  position: relative;
}
.hg-img-overlay {
  z-index: 1;
  background-color: #ffffff4d;
  display: none;
  position: absolute;
  inset: 0%;
}
.hg-img-overlay {
  background: rgba(29, 29, 29, 0.3);
}
.spacer-10 {
  flex: none;
  height: 10em;
}
