@import "tailwindcss";

body {
  background-color: #f5f4ed;
  scroll-behavior: smooth;
}

.experience,
.about {
  background-color: #101010;
  color: #aaa;
}

.moi-img {
  clip-path: inset(0% 0% 0% 0%);
}

.text {
  overflow: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

#custom-cursor {
  width: 10px;
  height: 10px;
  /* background-color: rgb(57, 255, 20); */
  background-color: #8b5cf6;
  border-radius: 50%;
  opacity: 0.8;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s ease-out;
}
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.gallery-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.gallery-grid-item {
  aspect-ratio: 14/9;
  transform-origin: 50% 0%;
}

/* .loading-screen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #0c0603;
  display: grid;
  place-content: center;
} */
/* .loading-screen {
  transition: transform 0.5s ease-out;
}
.loading-screen.seen,
.page-content.seen {
  opacity: 1;
}
.loading-screen.hidden,
.page-content.unseen {
  opacity: 0;
}
.loading-screen.unseen {
  transform: translateY(-100%);
  visibility: hidden;
}
.loading-screen.unseen .loader-container {
  width: 0;
  height: 0;
} */
