@import "tailwindcss";

/* Each section takes full viewport width */
.section {
  flex: 0 0 100vw;
  height: 100vh;
}

/* .container {
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
} */

/* html,
body {
  overflow-x: hidden;
} */

.container {
  height: 100vh;
}

.section {
  flex: 0 0 100vw; /* each section fills screen width */
  height: 100vh;
}
